<ng-include src="'views/header.html'"></ng-include>
<div class="container join-game" ng-if="currentGame.newUser">
    <div class="row">
        <div class="col-md-12">
            <h1>Join the game!</h1> 
            <form name="currentGameDetails" novalidate>
                <div class="form-inline">
                    <div class="form-group">
                        <input class="form-control" type="text" ng-model="currentGame.player.name" required placeholder="Enter your name">
                    </div>
                    <input type="submit" class="btn btn-default btn-block" value="Join Game" ng-click="currentGame.joinGame(currentGameDetails.$valid)" ng-disabled="currentGameDetails.$invalid">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container current-game" ng-if="!currentGame.newUser">
    <div class="row">
        <div class="col-md-12">
            <div ng-if="currentGame.isLeader()">
            leader stuff
                <div ng-if="currentGame.showStartButton() && !currentGame.game.started">
                    <button class="btn btn-success" ng-click="currentGame.startGame()">Start game </button>
                </div>
                <div ng-if="!currentGame.showStartButton()">
                    waiting for new players
                </div>
                <div ng-if="currentGame.game.started">
                    started
                </div>
            </div>
            <div ng-if="!currentGame.isLeader()">
                <div ng-if="!currentGame.game.started">
                    Waiting for game to start
                </div>
                <div ng-if="currentGame.game.started">
                    started
                </div>
            </div>
        </div>
    </div>
</div>
<ng-include src="'views/footer.html'"></ng-include>
